<!DOCTYPE html>
<html>

<head>
    <% include ./partials/head %>
</head>

<body>
    <% include ./partials/header %>
    <div class="center-align">
        <div class="container">

            <div>

                <h4>
                    <%= article.title %>
                </h4>
                <h5><%= article.description %> </h5>
                <p><%= article.body %> </p>

            </div>
            <div class="container">
                <form action=<%= article.slug + "/comments" %> method="POST">
                    <div class="row">
                        <div class="input-field col s9">
                            <i class="material-icons prefix">mode_edit</i>
                            <textarea id="textarea1" class="materialize-textarea" name="commentBody"></textarea>
                            <label for="textarea1">Add Your Comment</label>
                        </div>
                        <input name="articleId" value="<%= article.id %>" type="hidden">
                        <div class="input-field col s3 center-align">
                            <button class="btn waves-effect waves-light" type="submit">comment
                                <i class="material-icons right">comment</i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="container">
                <div class="col s12 m7">

                    <% comments.reverse().forEach( comment => { %>
                    <div class="card horizontal">
                        <div class="card-stacked">
                            <div class="card-content">
                                <p><%= comment.body %></p>
                            </div>
                            <div class="card-action">
                                <p><%= new Date(comment.createdAt).toDateString() %> </p>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                </div>
            </div>

        </div>

    </div>
    </div>
    <% include ./partials/footer %>
</body>

</html>